{% extends 'layout.html' %}

{% block title %}
    {{titulo}}
{% endblock %}

{% block content %}
    <h1 class="title"> {{mensaje}} </h1>
    <p class="title"> --------------------------------------------------------------------- </p>
    <br>
    <form action="{% url 'save_curso' %}" method="GET">
        <label for="code">Código</label>
        <input type="text" name="code" />
        <label for="name">Nombre del curso </label>
        <textarea name="name" ></textarea>
        <label for="hour">Horas</label>
        <input type="text" name="hour" />
        <label for="credits">Creditos</label>
        <input type="text" name="credits" />
        <label for="state">Estado?</label>
        <select name="state">
        <option value="A"> Activo </option>
        <option value="I"> Inactivo </option>
        </select>

        <input type="submit" value="Agregar" />
        </form>
        
{% endblock %}
